/* splash */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eae8fe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

.splash-text {
  position: absolute;
  font-size: 88px;
  color: white;
  animation: text 1s linear infinite;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splash-text:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.splash-text:nth-child(2) {
  top: 3%;
  left: 48%;
  animation-delay: 0.2s;
}

.splash-text:nth-child(3) {
  top: 10%;
  left: 70%;
  animation-delay: 0.4s;
}

.splash-text:nth-child(4) {
  top: 35%;
  left: 10%;
  animation-delay: 0.4s;
}

.splash-text:nth-child(5) {
  top: 23%;
  left: 38%;
  animation-delay: 0.2s;
}

.splash-text:nth-child(6) {
  top: 35%;
  left: 60%;
  animation-delay: 0.5s;
}

.splash-text:nth-child(7) {
  top: 60%;
  left: 5%;
  animation-delay: 0.4s;
}

.splash-text:nth-child(8) {
  top: 50%;
  left: 33%;
  animation-delay: 0.6s;
}

.splash-text:nth-child(9) {
  top: 50%;
  left: 90%;
  animation-delay: 0.2s;
}

.splash-text:nth-child(10) {
  top: 80%;
  left: 40%;
  animation-delay: 0.3s;
}

.splash-text:nth-child(11) {
  top: 85%;
  left: 15%;
  animation-delay: 0.5s;
}

.splash-text:nth-child(12) {
  top: 85%;
  left: 60%;
  animation-delay: 0.7s;
}

.splash-text:nth-child(13) {
  top: 90%;
  left: 80%;
  animation-delay: 0s;
}

.splash-text:nth-child(14) {
  top: 75%;
  left: 95%;
  animation-delay: 0.7s;
}

.splash-text:nth-child(15) {
  top: 25%;
  left: 85%;
  animation-delay: 0.3s;
}

.splash-text:nth-child(16) {
  top: 15%;
  left: 20%;
  animation-delay: 0.2s;
}

.splash-text:nth-child(17) {
  top: -5%;
  left: 90%;
  animation-delay: 0.5s;
}

.splash-text:nth-child(18) {
  top: 62%;
  left: 66%;
  animation-delay: 0.3s;
}

.splash-text:nth-child(19) {
  top: 25%;
  left: 85%;
  animation-delay: 0.1s;
}

.splash-text:nth-child(20) {
  top: 15%;
  left: 20%;
  animation-delay: 0.4s;
}
.splash-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splash-cola {
  position: absolute;
  animation: moveCola 10s infinite linear;
  opacity: 0;
  width: 60px;
  height: auto;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}

@keyframes moveCola {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0;
  }
}

.splash-cola:nth-child(1) {
  animation-delay: 0s;
}

.splash-cola:nth-child(2) {
  animation-delay: 0.4s;
}

.splash-cola:nth-child(3) {
  animation-delay: 0.8s;
}

.splash-cola:nth-child(4) {
  animation-delay: 1.2s;
}

.splash-cola:nth-child(5) {
  animation-delay: 1.6s;
}

.splash-cola:nth-child(6) {
  animation-delay: 2s;
}

@media (max-width: 747px) {
  .splash-cola {
    position: absolute;
    animation: moveCola 10s infinite linear;
    opacity: 0;
    width: 50px;
    height: auto;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
  }

  @keyframes moveCola {
    0% {
      transform: translateY(50%) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%) rotate(360deg);
      opacity: 0;
    }
  }

  .splash-text {
    font-size: 50px;
    color: white;
  }
}
