@import "reset.css";

body {
  background-color: #eae8fe;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  margin-bottom: 67px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0px 28px;
}

/* 좌, 우 */
.container .machine-01,
.container .machine-02 {
  width: 360px;
  box-sizing: border-box;
  background-color: #fff;
}

/* 자판기 */
.container .machine-01 {
  position: relative;
  padding: 31px 26px 28px 27px;
}
.machine-01 .list-cola {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.machine-01 .list-cola li {
  position: relative;
  width: 30%;
  height: 130px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 8px;
}
.machine-01 .list-cola li:active::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #6327ef;
  border-radius: 10px;
  box-sizing: border-box;
}
.machine-01 .list-cola li.select::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #6327ef;
  border-radius: 10px;
  box-sizing: border-box;
}
.machine-01 .list-cola li.sold-out::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: no-repeat center / 58px 45px url(../images/soldout.svg)
    rgba(0, 0, 0, 0.8);
}
.machine-01 .list-cola li:nth-child(3) ~ li {
  margin-top: 12px;
}
.machine-01 .btn-cola {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  padding: 0;
}
.machine-01 .list-cola .list-img {
  width: 36px;
  height: 65px;
  margin: 11px auto 0px auto;
  vertical-align: bottom;
}
.machine-01 .list-txt {
  display: block;
  font-size: 9px;
  margin: 6px auto 7px auto;
}
.machine-01 .list-cola .list-amount {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  color: white;
  background: #6327fe;
  border-radius: 50px;
}

/* 잔액 & 거슴름돈 반환 */
/* 입금액 입력 & 입금 */
/* 스크롤 & 획득 */
.machine-01 .contents-01,
.machine-01 .contents-02,
.machine-01 .contents-03 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.contents-01 .info-money,
.contents-02 .input-money,
.contents-03 .list-select-all {
  width: 200px;
  height: 32px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.contents-01 .btn-return,
.contents-02 .btn-input,
.contents-03 .btn-get {
  width: 94px;
  height: 32px;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  padding: 6px 0px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.machine-01 .contents-01 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}
.contents-01 .info-money {
  overflow: hidden;
  border: 0;
  background-color: #eae8fe;
}
.info-money .txt-money {
  float: right;
}

.contents-02 .input-money {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #bdbdbd;
}

.contents-03 .list-select-all {
  height: 106px;
  overflow-y: scroll;
  background-color: #eae8fe;
  padding: 12px;
}
.list-select-all li {
  overflow: hidden;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
.list-select-all li + li {
  margin-top: 6px;
}
.list-select-all .list-img {
  width: 18px;
  height: 33px;
}

.list-select-all .list-img,
.list-select-all .list-txt {
  float: left;
}
.list-select-all .list-txt {
  font-size: 9px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  /* line-height: 33px; */
}
.list-select-all .num-select {
  float: right;
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.contents-03 .btn-get {
  font-weight: 700;
  background-color: #6327fe;
  color: #fff;
}
